*{margin:0;padding:0;}

.mid{
	
	background-image: url(../images/bg-cover.jpg);
	background-size: cover;
	height: 570px; 
}



.container2{
	margin:0 auto;
	padding:0;
	width:1150px;
	height:auto;
}

.contentner2{
	
	height:258px;
}
.contentner2 h2{
	color:black;
	
	font-weight:normal;
	font-size:44px;
	margin-left:70px;
	margin-top:30px;
	text-align:center;
}
.contentner2 img{
	
	margin-left:295px;
	margin-top:30px;
}
.item2 img:hover{
	transform:scale(1.1);
	transition:all .5s ease;

}
.contentner2 p{
	width:1150px;
	height:80px;
	color:#5d5d5d;	
	font-weight:normal;
	font-size:22px;
	margin-top:28px;
	color:red;
	text-align: center;
}
.contentner_item2{
	width:1150px;
	height:450px;
	margin-top:13px;
	margin-left:67px;
}
.contentner_item2 .item2{
	width:300px;
	height:393px;
	float:left;
	margin-right:60px;
	background-color:#f4f4f4;
	position: relative;
}

.contentner_item2 .item2 h2{
	color:#f15b5a;
	font-weight:normal;
	font-size:24px;
	margin:10px 0px;
	text-align:center;
}
.contentner_item2 .item2 p{
	color:#5d5d5d;
	font-weight:normal;
	font-size:16px;
	margin:12px 13px;
	text-align:justify;
}
.button_red2 {
	background: #000000;
    color: #FFF;
    border: none;
    padding: 11px 30px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    font-weight: normal;
    border-radius: 0px;
    margin-left: -4px;
    z-index: 1001;
    left: 81px;
    top: 142px;
    position: absolute;
	opacity:.6;
	font-weight: 400;
}
.button_red2:hover{
	background:#e81e26;
	transition: all .5s ease;
}

	

